/* FOSCAIOLI GAY */



/* MOBILE */

@media only screen and (min-width: 350px) and (max-width: 800px) {

    /* Lista */
    #queue {
        padding-left: 0;
        margin-top: 50px;
    }

    /* Riga */
    #queue li {
        padding: 5px 0 5px 0;
        overflow: auto;
    }
       
    #queue li:hover {
        background: #eee;
        cursor: pointer;
    }
    
    /* Foto */
    #queue li img {
        margin: 0 5px 0 5px;
        height: auto;
        width: 50px;
        float: left;
    }
    
    /* Nome */
    #queue li h2 {
        vertical-align: top;
        margin: 0 0 5px 10px;
        font-size: medium; 
    }
    
    /* Bio */
    #queue li p {
        color: rgb(78, 78, 78);
        display:inline;
        font-size: small;
    }
    
    /* Master */
    .master {
        background-color: #c8d6f0;
    }
    
    .master:hover {
        background-color: #c8d6f0 !important;
    }

  
  }

/* DESKTOP */

@media only screen and (min-width: 481px){

    /* Lista */
    #queue {
        margin-top: 30px;
    }

    /* Riga */
    #queue li {
        padding: 20px 0 20px 0;
        overflow: auto;
    }
       
    #queue li:hover {
        background: #eee;
        cursor: pointer;
    }
    
    /* Foto */
    #queue li img {
        float: left;
        margin: 0 15px 0 15px;
        height: auto;
        width: 150px;
    }
    
    /* Nome*/
    #queue li h2 {
        margin: 10px 0 10px 0;
    }
    
    /* Bio */
    #queue li p {
        margin: 20px 70% 0 0;
    }
    
    .master {
        background-color: #c8d6f0;
    }
    
    .master:hover {
        background-color: #c8d6f0 !important;
    }
  
  
  }