<ng-container *ngIf="niccolgur && niccolgur.masterFull">
    <mat-card class="movie-card card">
        <mat-card-header>
            <mat-card-title class="movie-title">{{niccolgur.movie_data?.title}}</mat-card-title>
            <mat-card-subtitle>{{niccolgur.date}}</mat-card-subtitle>
            <img mat-card-avatar [src]="niccolgur?.masterFull?.img" alt="">
        </mat-card-header>
        <!--    TODO immagine alternativa -->
<!--        <img mat-card-image class="movie-img" [src]="getImageUrl(niccolgur)" alt="">-->
        <mat-card-content>
            <h4>Candida per:</h4>
            <div *ngFor="let vote of votesAsArray('TOP5')">
                <div>
                    <mat-checkbox [checked]="isCandidate(vote.key, niccolgur)"
                                  (change)="addOrRemoveCandidate(vote.key, niccolgur, $event.checked)" >
                        {{vote.name}}
                    </mat-checkbox>
                </div>

            </div>

            <div *ngFor="let vote of votesAsArray('MASTER')">

                <div>
                    <mat-checkbox [checked]="isMasterCandidate(vote.key, niccolgur.master, niccolgur)"
                                  (change)="addOrRemoveMasterCandidate(vote.key, niccolgur.master, niccolgur, $event.checked)">
                        {{vote.name}} {{niccolgur.masterFull.nickname}}</mat-checkbox>
                </div>

            </div>



        </mat-card-content>
    </mat-card>
</ng-container>
