<ng-container *ngIf="niccolgur && niccolgur.masterFull">
    <mat-card class="movie-card card">
        <mat-card-header>
            <mat-card-title class="movie-title">{{niccolgur.movie_data?.title}}</mat-card-title>
            <mat-card-subtitle>{{niccolgur.date}}</mat-card-subtitle>
            <img mat-card-avatar [src]="niccolgur?.masterFull?.img" alt="">
        </mat-card-header>
        <!--    TODO immagine alternativa -->
<!--        <img mat-card-image class="movie-img" [src]="getImageUrl(niccolgur)" alt="">-->
        <mat-card-content>

            <div *ngFor="let vote of votesAsArray('TOP5')">
                <mat-form-field>
                    <mat-select [placeholder]="vote.name" [value]="'asdasd'">
                        <mat-option *ngFor="let i of [1,2,3,4,5]"
                                    [value]="i"
                                    (onSelectionChange)="topFiveChange(vote.key, i)">
                            #{{i}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngFor="let vote of votesAsArray('MASTER')">

                <div>
                    <mat-checkbox [checked]="votes[vote.key]?.masterValues[niccolgur.master] === niccolgur"  (change)="masterChange(vote.key, $event)"
                                  [disabled]="votes[vote.key]?.masterValues[niccolgur.master] && votes[vote.key]?.masterValues[niccolgur.master] !== niccolgur">
                        {{vote.name}} {{niccolgur.masterFull.nickname}}</mat-checkbox>
                </div>

            </div>

            <div *ngFor="let vote of votesAsArray('BINARY')">

                <div>
                    <mat-checkbox [checked]="votes[vote.key].values[0] === niccolgur"
                                  [disabled]="votes[vote.key].values[0] && votes[vote.key].values[0] !== niccolgur"
                                  (change)="checkChange(vote.key, $event)" >
                        {{vote.name}}</mat-checkbox>
                </div>

            </div>

        </mat-card-content>
    </mat-card>
</ng-container>
