<ng-container *ngIf="!user">
    <p>Caricamento...</p>
</ng-container>
<ng-container *ngIf="user">
    <app-user-header [user]="user"></app-user-header>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>Vota</ng-template>
            <div>
            <mat-form-field class="grouping-select">
                <mat-select placeholder="Cerca per season" [value]="'asdasd'">
                    <mat-option *ngFor="let grouping of groupings"
                                [value]="grouping.id"
                                (onSelectionChange)="groupingChange($event, grouping.id)">
                        {{grouping.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

                <mat-form-field class="season-select" *ngIf="selectedGrouping === 0">
                    <mat-select [placeholder]="selectedSeason" [value]="'asdasd'">
                        <mat-option *ngFor="let season of seasons"
                                    [value]="season + 1"
                                    (onSelectionChange)="seasonChange(season + 1)">
                            Season {{season + 1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="master-select" *ngIf="selectedGrouping === 1">
                    <mat-select [placeholder]="selectedMaster.nickname" [value]="'asdasd'">
                        <mat-option *ngFor="let master of masters"
                                    [value]="master.id"
                                    (onSelectionChange)="masterChange(master)">
                            {{master.nickname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="selectedGrouping === 2">
                <input type="text" placeholder="Inizia a digitare...">
            </div>

            <app-niccuscar-movie-card *ngFor="let niccolgur of niccolgurs" [niccolgur]="niccolgur" [votes]="votes"></app-niccuscar-movie-card>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>Recap</ng-template>
            <table>
                <tbody>
                    <tr>
                        <td>Miglior culo/tette/fica</td>
                        <td *ngIf="votes.bestTits">{{getMovie(votes.bestTits)}}</td>
                    </tr>
                    <tr>
                        <td>Miglior throw</td>
                        <td>{{getMovie(votes.bestThrow)}}</td>
                    </tr>
                    <tr>
                        <td>Migliori memes</td>
                        <td>{{getMovie(votes.bestMemes)}}</td>
                    </tr>
                    <tr>
                        <td>Film più difficile da guardare</td>
                        <td>{{getMovie(votes.hardest)}}</td>
                    </tr>
                    <tr>
                        <td>Film più unexpected</td>
                        <td>{{getMovie(votes.unexpected)}}</td>
                    </tr>
                    <tr>
                        <td>Premio Cheguerini</td>
                        <td>{{getMovie(votes.cheguerini)}}</td>
                    </tr>
                    <tr>
                        <td>Premio Virgilio</td>
                        <td>{{getMovie(votes.virgilio)}}</td>
                    </tr>
                </tbody>
            </table>

        </mat-tab>
    </mat-tab-group>
</ng-container>
