.grouping-select {
    margin-top: 2%;
}

.grouping-select, .season-select, .master-select {
    margin-right: 20px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.disabled {
    color: lightgray;
}

.icon:hover:not(.disabled) {
    cursor: pointer;
}

.trash-icon {
    color: darkred;
}
