/* MOBILE */

@media only screen and (max-width: 799px) {

    /* Foto profilo */
    .pp {
        margin: 0 5px 0 5px;
        max-height: 100px;
        max-width: 100px;
        float: left;
    }

    /* Nome */
    h2 {
        margin-left: 110px;
        text-align: center;
        font-size: larger;
    }

    /* Bio */
    p {
        text-align: center;
        margin: 0 0 30px 110px;
    }

    .marginBtm {
        margin-bottom: 20px;
    }

    .marginTop {
        margin-top: 60px;
    }

    h5 {
        margin: 10px 0 10px 0;
    }

}

/* DESKTOP */

@media only screen and (min-width: 800px) {

    /* Foto profilo */
    .pp {
        margin: 0 5px 0 5px;
        max-height: 100px;
        max-width: 100px;
        float: left;
    }
}
