<ng-container *ngIf="seasons && user && users">
    <div>
        <img [src]="images + user.img" alt="X">
        <h2> {{user.nickname}}</h2>
        <p> {{user.bio}} <br> <br></p>
    </div>
    <mat-tab-group>

        <mat-tab>
            <ng-template mat-tab-label>Presenze</ng-template>
            <app-user-stats [user]="user"
                            [users]="users"
                            [seasons]="seasons">
            </app-user-stats>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>Niccolgur</ng-template>
            <ng-template matTabContent>
                <ng-container *ngFor="let season of seasons">
                    <ng-container *ngFor="let niccolgur of season">
                        <app-movie-card *ngIf="niccolgur.master === user.id"
                                        [niccolgur]="niccolgur"></app-movie-card>
                    </ng-container>
                </ng-container>
            </ng-template>
        </mat-tab>

    </mat-tab-group>

</ng-container>
