/* MOBILE */

@media only screen and (max-width: 799px) {

    /* Foto */
    img {
        margin: 0 5px 0 5px;
        max-height: 90px;
        max-width: 90px;
        float: left;
    }

    /* Nome */
    h2 {
        font-size: larger;
    }

    /* Bio */
    p {
    }

    .marginBtm {
        margin-bottom: 20px;
    }

    h5 {
        margin: 10px 0 10px 0;
    }

}

/* DESKTOP */

@media only screen and (min-width: 800px) {
}
