/* MOBILE */

@media only screen and (max-width: 799px) {

    /* Lista */
    #queue {
        height: 100%;
        padding-left: 0;
    }

    /* Riga */
    li {
        padding: 5px 0 5px 0;
        overflow: auto;
        transition: 1500ms;
    }

    li:hover {
        background: #eee;
        cursor: pointer;
    }

    /* Foto */
    img {
        margin: 0 5px 0 5px;
        max-height: 30px;
        max-width: 30px;
        float: left;
        transition: 500ms;
    }

    /* Nome */
    h2 {
        vertical-align: top;
        margin: 0 0 0 10px;
        font-size: small;
        transition: 500ms;
    }

    /* Bio */
    p {
        color: rgb(78, 78, 78);
        margin: 0 0 0 5px;
        font-size: x-small;
        transition: 500ms;
    }

    /* Profile */
    a {
        float: right;
        margin-right: 10px;
        bottom: 10px;
        opacity: 1;
        transition: 500ms;
        background: white;
        padding: 4px 6px 4px 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color: rgb(29, 29, 29);
        border-radius: 7%;
        border-style: outset;
        border-color: white;
        text-decoration: none;
    }

    .highlighted {
        background-color: #eee;
    }

    .highlighted > img {
        max-height: 70px;
        max-width: 70px;
    }

    .highlighted > h2 {
        font-size: medium;
        margin: 0 0 0 90px;
    }

    .highlighted > p {
        font-size: small;
        margin: 4px 0 0 90px;
        overflow: hidden;
    }

    /* Master */
    .master {
        background-color: #c8d6f0 !important;
    }

    .master:hover {
        background-color: #c8d6f0 !important;
    }
}

/* DESKTOP */

@media only screen and (min-width: 800px){

    /* Lista */
    #queue {
    }

    /* Riga */
    li {
        padding: 20px 0 20px 0;
        overflow: auto;
    }

    li:hover {
        background: #eee;
        cursor: pointer;
    }

    /* Foto */
    img {
        float: left;
        margin: 0 15px 0 15px;
        height: auto;
        width: 150px;
    }

    /* Nome*/
    h2 {
        margin: 10px 0 10px 0;
    }

    /* Bio */
    p {
        margin: 20px 70% 0 0;
    }

    .highlighted {
        background-color: #eee;
    }

    .master {
        background-color: #c8d6f0 !important;
    }

    .master:hover {
        background-color: #c8d6f0 !important;
    }

}
