<ng-container *ngIf="loading">
    <h2>Caricamento...</h2>
</ng-container>
<ng-container *ngIf="!loading">

    <mat-card class="stats-card card">
        <mat-card-header>
            <mat-card-title class="movie-title">RANK: {{userRank}}</mat-card-title>
            <mat-card-subtitle>Skill rating: {{userSR}}</mat-card-subtitle>
            <img mat-card-avatar
                 class=""
                 [src]="userStatsData.srImage"
                 alt="X">
        </mat-card-header>
    </mat-card>

    <h5>Niccolgur hittati</h5>
    <div class="chart-wrapper">
        <canvas baseChart
                height="40%"
                [data]="horizontalChart.data"
                [chartType]="'horizontalBar'"
                [labels]="horizontalChart.labels"
                [colors]="[{backgroundColor: horizontalChart.colors}]"
                [plugins]="[chartLabels]"
                [options]="horizontalChart.options">
        </canvas>
    </div>
    <div class="chart-wrapper marginBtm">
        <canvas baseChart
                [data]="doughnutChart.data"
                [labels]="doughnutChart.labels"
                [chartType]="'doughnut'"
                [colors]="[{backgroundColor: doughnutChart.colors}]"
                [plugins]="[chartLabels]"
                [options]="doughnutChart.options">
        </canvas>
    </div>

    <h5>Percentuale Niccolgur hittati per master</h5>
    <div class="chart-wrapper">
        <canvas baseChart
                height="250%"
                [data]="barChart.data"
                [labels]="barChart.labels"
                [chartType]="'bar'"
                [colors]="[{backgroundColor: barChart.colors}]"
                [options]="barChart.options">
        </canvas>
    </div>
</ng-container>
