<ng-container *ngIf="loading">
    <h2>Caricamento...</h2>
</ng-container>
<div *ngIf="!loading" >

    <mat-card class="stats-card card">
        <mat-card-header>
            <mat-card-title class="movie-title">RANK: {{userRank}}</mat-card-title>
            <mat-card-subtitle>Skill rating: {{userSR}}</mat-card-subtitle>

            <img mat-card-avatar
                 class=""
                 [src]="userStatsData.srImage"
                 alt="X">
        </mat-card-header>
    </mat-card>

    <div class="chart-wrapper">
        <canvas baseChart
                class="hitrate"
                height="25%"
                [data]="horizontalChart.data"
                [chartType]="'horizontalBar'"
                [labels]="horizontalChart.labels"
                [colors]="[{backgroundColor: horizontalChart.colors}]"
                [plugins]="[chartLabels]"
                [options]="horizontalChart.options">
        </canvas>
    </div>

    <div class="charts">

        <canvas baseChart
                class="hitvsmiss-chart"
                [data]="doughnutChart.data"
                [labels]="doughnutChart.labels"
                [chartType]="'doughnut'"
                [colors]="[{backgroundColor: doughnutChart.colors}]"
                [plugins]="[chartLabels]"
                [options]="doughnutChart.options">
        </canvas>

        <canvas baseChart
                class="hit-by-master-chart"
                [data]="barChart.data"
                [labels]="barChart.labels"
                [chartType]="'bar'"
                [colors]="[{backgroundColor: barChart.colors}]"
                [options]="barChart.options">
        </canvas>
    </div>
</div>
