/* MOBILE */

@media only screen and (max-width: 799px) {

    .marginBtm {
        margin-bottom: 20px;
    }

    .marginTop {
        margin-top: 60px;
    }

    /* Titoli dei grafici */
    h5 {
        margin: 10px 0 10px 0;
    }

}

/* DESKTOP */

@media only screen and (min-width: 800px) {
}
