/* MOBILE */

@media only screen and (max-width: 799px) {

    .marginBtm {
        margin-bottom: 20px;
    }

    .marginTop {
        margin-top: 60px;
    }

    /* Titoli dei grafici */
    h5 {
        margin: 10px 0 10px 0;
    }

    .stats-card {
        vertical-align: top;
        padding-bottom: 0;
        /*margin: 20px 0 0 10px;*/
        /*height: 180px;*/
    }

    .dough-chart {
        display: inline;
        width: 150px;
    }

}

/* DESKTOP */

@media only screen and (min-width: 800px) {

    .charts {
        max-width: 45%;
        margin-top: 2%;
        display: flex;
    }


    .hitvsmiss-chart {
    }

    .hit-by-master-chart {
    }

}
