<ng-container *ngIf="user && presenceData">
    <img [src]="images + user.img" alt="X">
    <h2> {{user.nickname}}</h2>
    <p> {{user.bio}} </p>
    <mat-tab-group>

        <mat-tab>
            <ng-template mat-tab-label>Presenze</ng-template>

            <div class="chart-wrapper">
                <canvas baseChart
                        height="40%"
                        [data]="[presenceData.ratio]"
                        [chartType]="'horizontalBar'"
                        [colors]="getPercentageColor(presenceData.ratio)"
                        [options]="horizontalChartOptions">
                </canvas>
            </div>
            <div class="chart-wrapper">
                <canvas baseChart
                        [data]="[presenceData.present, presenceData.absent]"
                        [labels]="['Present', 'Absent']"
                        [chartType]="'doughnut'"
                        [colors]="[{backgroundColor: ['#2B60DE', '#F75D59']}]"
                        [plugins]="[chartLabels]"
                        [options]="doughnutChartOptions">
                </canvas>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>Niccolgur</ng-template>
        </mat-tab>

    </mat-tab-group>

</ng-container>
