<div *ngIf="season">
    <mat-form-field class="season-select">
        <mat-select placeholder="Cambia season" [value]="'asdasd'">
            <mat-option *ngFor="let opt of seasonsOptions; let i = index"
                        [value]="seasonsOptions.length - i"
                        (onSelectionChange)="selectionChange($event, seasonsOptions.length - i)">
                Season {{seasonsOptions.length - i}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngFor="let niccolgur of season">
        <app-movie-card [niccolgur]="niccolgur"></app-movie-card>
    </ng-container>

</div>
