/* DESKTOP */

@media only screen and (min-width: 800px) {

    div {
        margin-top: 50px;
    }

    .season-select {
        display: block;
        margin-left: 20px;
    }

}

/* MOBILE */

@media only screen and (max-width: 799px) {

    div {
        margin-top: 60px;
    }

    .season-select {
        margin: 0 0 0 20px;
    }

}
