<div>
    <label>
        <input [ngModel]="seasonNumber" (ngModelChange)="changeSeason($event)" type="number" [min]="1"
               [max]="seasonsCount">
    </label>
    <ul id="season">
        <li *ngFor="let niccolgur of season">
            <img [src]="getImageUrl(niccolgur)" alt="X">
            <h2> <img [src]="images + niccolgur.master.img" alt="X"> {{niccolgur.movie_data?.title}}</h2>
            <p>  {{niccolgur.movie_data?.tagline}} </p>
            <!--        <a class=\"profile\" href=\"#\" [show]="isSelected">VAI AL PROFILO</a>-->
        </li>
    </ul>
</div>
